@font-face {
    font-family: 'VALORANT';
    src: url(fonts/Valorant_Font.ttf);
}

@font-face {
    font-family: 'Radio_canada';
    src: url(fonts/Radio_Canada/RadioCanada-VariableFont_wdth\,wght.ttf);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Radio_canada';
}

h1{
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    background-color: black;
    color: red;
    position: fixed;
    z-index: 3;
    width: 100%;
}

.container_header{
    height: 70px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container_header a{
    text-decoration: none;
}

.icon_val{
    font-family: 'VALORANT';
    font-size: 34px;
    margin: 0;
    padding: 0;
    color: white;
    padding-top: 7px;
}

.icon_val:hover{
    color: #fa4454;
}

.item_lista{
    color: white;
}

.item_lista:hover{
    color: #fa4454;
}


