@font-face {
    font-family: 'VALORANT';
    src: url(fonts/Valorant_Font.ttf);
}

body{
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    background-color: black;
    color: red;
}

.container_header{
    height: 65px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container_header a{
    text-decoration: none;
}

.icon_val{
    font-family: 'VALORANT';
    font-size: 34px;
    margin: 0;
    padding: 0;
    color: white;
    padding-top: 7px;
}

.icon_val:hover{
    color: #fa4454;
}

.item_lista{
    color: white;
}

.item_lista:hover{
    color: #fa4454;
}


