/* Globais */
@font-face {
    font-family: 'VALORANT';
    src: url(fonts/Valorant_Font.ttf);
}

@font-face {
    font-family: 'Radio_canada';
    src: url(fonts/Radio_Canada/RadioCanada-VariableFont_wdth\,wght.ttf);
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Radio_canada';
}

h1{
    margin: 0;
}

p{
    margin: 0;
    padding: 0;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
    background-color: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #fa4454;
  }
  

/* Header */
header{
    display: flex;
    justify-content: center;
    background-color: #00000000;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 50px;
    /* border-bottom: #fa4454 2px solid; */
}

.container_header{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container_header a{
    text-decoration: none;
    font-family: 'VALORANT';
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.icon_val{
    font-family: 'VALORANT';
    font-size: 45px;
    margin: 10px 50px;
    padding: 0;
    color: white;
    padding-top: 7px;
}

.icon_val:hover{
    color: #fa4454;
}

.item_lista{
    color: white;
}

.item_lista:hover{
    color: #fa4454;
}

/* Banner */
.banner{
    background-image: url('imagens/banner3.jpg');
    background-size: cover;
    background-position: center;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_banner{
    width: 50%;
    display: flex;
    justify-content: center;
}

.container_banner h1{
    color: white;
    font-size: 45px;
    text-align: center;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

.text_valo{
    font-family: 'VALORANT';
    font-weight: normal;
}

/* sobre o jogo */

.sobre_o_jogo{
    height: 1400px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 80px;
}

.sobre_o_jogo .fundo_val{
    position: absolute;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre_o_jogo .fundo_val .fundo{
    font-family: 'VALORANT';
    font-size: 300px;
    color: black;
    text-shadow: 2px 0 0 #232323, -2px 0 0 #232323, 0 2px 0 #232323, 0 -2px 0 #232323, 1px 1px #232323, -1px -1px 0 #232323, 1px -1px 0 #232323, -1px 1px 0 #232323
}

.sobre_o_jogo .fundo2{
    font-family: 'VALORANT';
    font-size: 300px;
    color: black;
    position: absolute;
    bottom: 0;
    z-index: 1;
    text-shadow: 2px 0 0 #232323, -2px 0 0 #232323, 0 2px 0 #232323, 0 -2px 0 #232323, 1px 1px #232323, -1px -1px 0 #232323, 1px -1px 0 #232323, -1px 1px 0 #232323
}

.sobre_o_jogo h1{
    color: white;
    font-family: 'VALORANT';
    padding-top: 20px;
    font-size: 40px;
}

.sobre_o_jogo .container1{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 90px;
    /* border: 1px solid purple; */
    z-index: 3;
}

.sobre_o_jogo .container2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* border: 1px solid yellow; */
    height: 750px;
    z-index: 3;
}

.sobre_o_jogo .explicacao_jogo{
    width: 35%;
    /* border: 1px solid white; */
    font-size: 22px;
    color: white;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.sobre_o_jogo .video_highlight{
    width: 690px;
    height: 388px;
    color: white;
    text-align: center;
    margin: 130px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.video_highlight video{
    height: 100%;
    cursor: pointer;
    border: 2px solid white;
}

.sobre_mim{
    color: white;
    z-index: 3;
}

.sobre_mim .container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.sobre_mim .container .div_textos{
    width: 30%;
    font-size: 22px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre_mim h1{
    font-size: 26px;
    text-align: center;
    margin-bottom: 30px;
}

.div_top230{
    text-align: center;
}

.img_top230{
    border: 2px white solid;
    width: 800px;
}

/* Escolha seu agente */
body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container_select{
    display: flex;
    justify-content: flex-end;
}

.select_mapas{
    margin: 50px 16px 0 0;
    padding: 12px;
    background-color: black;
    border-radius: 0 10px 0 10px;
    font-size: 16px;
    color: white;
    /* text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white, 1px 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white; */
    
}

.select_mapas select{
    background-color: black;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
}

.container_mais_votados{
    display: flex;
}

.mais_votados{
    height: 224px;
    width: 350px;
    background-color: #00000073;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    border-radius: 5px;
}

.mais_votados h1{
    font-size: 20px;
    text-align: center;
}

.mais_votados div{
    display: flex;
    align-items: center;
}

.mais_votados div h2{
    font-size: 36px;
}

.primeiro_lugar{
    height: 100px;
    /* border: 1px solid yellow; */
}

.segundo_lugar{
    height: 50px;
    /* border: 1px solid purple; */
}

.terceiro_lugar{
    height: 50px;
    /* border: 1px solid red; */
}

.selecionar_agentes{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.info_agentes{
    height: 100px;
    width: 40%;
    padding-left: 12px;
    font-family: 'VALORANT';
    color: white;
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    /* border: 1px solid yellow; */
}

.info_agentes p{
    font-family: 'Radio_canada';
}

.info_agentes span{
    font-family: 'Radio_canada';
}

.btn_confirmar{
    width: 150px;
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    color: white;
    background-color: black;
    font-size: 24px;
    margin: 0 auto 20px;
    font-weight: 600;
}

.btn_confirmar:hover{
    background-color: #f73243;
    cursor: pointer;
    font-size: 24px;
    margin: 0 auto 20px;
    font-weight: 600;
}

.agente{
    width: 70px;
    height: 70px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
}

.agente:hover{
    border: 2px solid #fa4454;
}


.div_agentes{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer{
    background-color: #fa4454;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
